@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    214.03deg,
    rgba(22, 103, 224, 0.79) -10.5%,
    rgba(228, 146, 230, 0.76) 75.68%
  );
}

body {
  width: 100%;
  height: 100%;
}

.border-gradient-test {
  background: linear-gradient(
    214.03deg,
    rgba(22, 103, 224, 0.79) -10.5%,
    rgba(228, 146, 230, 0.76) 75.68%
  );
}
