@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(
    214.03deg,
    rgba(22, 103, 224, 0.79) -10.5%,
    rgba(228, 146, 230, 0.76) 75.68%
  );
}

.icon-size {
  width: 20px;
  height: 20px;
}
.modal-open > *:not(.fixed) {
  filter: blur(5px);
  pointer-events: none;
}

header {
  height: 4rem; /* Ajustez cette valeur selon la hauteur de votre header */
}

.SideNavMenu {
  width: 16rem; /* Ajustez cette valeur selon la largeur de votre SideNavMenu */
}

.Chat {
  width: 16rem; /* Ajustez cette valeur selon la largeur de votre Chat */
}

.border-gradient-test {
  background: linear-gradient(
    214.03deg,
    rgba(22, 103, 224, 0.59) -10.5%,
    rgba(228, 146, 230, 0.56) 75.68%
  );
}

.page-container {
  width: 100%;
  overflow: hidden; /* Empêche le débordement horizontal */
}

.actualite-container {
  max-width: 100%; /* Assure que le conteneur ne dépasse pas la largeur de la page */
  overflow: hidden; /* Empêche le débordement du contenu */
}
